body {
 background-color: rgb(73, 73, 129);
}
.hidden {
 display: none;
}

.screen {
 border: 2px solid green;
}
.game-wrapper {
 
}

.car {
 position: absolute;
 top: 50px;
 left: 200px;
 margin: auto;
 width: 65px;
 height: 100px;
 background-color: darkolivegreen;
 border: 1px solid black;

}
.line {
 position: absolute;
 width: 10px;
 height: 100px;
 margin-left: 122px ;
 background-color: rgb(245, 245, 23) ;
}

.game-area {
 position: relative;
 margin: 0 auto;
 width: 250px;
 height: 600px;
 background-color: gray;
 border: white 1px solid;
}

.other-car {
 position: absolute;
 width: 60px;
 height: 100px;
}



