body {
 background-color: rgb(16, 104, 40);
}
.hidden {
 display: none;
}

.start-screen, .finish-btn {
 border: 1px solid whitesmoke;
 border-radius: 5px;
 color: whitesmoke;
 cursor: pointer;
 font-size: 46px;;
 left: 4%;
 padding: 2px 4px;
 position: absolute;
 top: 4%;
 width:fit-content;
}

.car {
  height: 100px;
  left: 200px;
  margin: auto;
  position: absolute;
  top: 50px;
  width: 48px;
  background-image: url('images/car2.png');
  background-size: contain;


}
.line {
 position: absolute;
 width: 10px;
 height: 100px;
 margin-left: 122px ;
 background-color: whitesmoke ;
}

.game-area {
 position: relative;
 margin: 0 auto;
 width: 250px;
 height: 960px;
 background-color: gray;
 border-left: whitesmoke 10px solid;
 border-right: whitesmoke 10px solid;
}

.other-car {
 position: absolute;
 width: 60px;
 height: 100px;
}



