.hidden {
 display: none;
}
.visible {
 display: block;
}
.screen {
 border: 2px solid green;
}
.game-wrapper {
 background-color: burlywood;
 width:fit-content;
}

.car {
 position: absolute;
 top: 200px;
 left: 220px;
 margin: auto;
 width: 60px;
 height: 100px;
 background-color: lightblue;
 border: 4px solid black;
}

.game-area {
 position: relative;
 margin: auto;
 width: 200px;
 height: 100%;
 overflow: hidden;
 background-color: rgb(37, 24, 24);
}